# <center>Activity 1 </center>
# <center>Software Installation, Python, Data Structures, NumPy and DataFrames

<h3>1. Write a python program (menu driven) that asks for an operation to be performed on two input numbers. Operations are add, subtract, divide, multiply. The program should keep asking for options on new numbers until the user specifies explicitly to exit. Also handle the scenario of divide by zero through exception handling in python. [1 pt]

In [3]:
print("Choose operation to perform: ")
print("\n1.Addition")
print("\n2.Subtraction")
print("\n3.Multiplication")
print("\n4.Division")
print("\n5.Exit")
while True:
    choice=int(input("\nYour Choice: "))
    if choice==1:
        print("\nAddition of num1 + num2:",int(input("Enter num1: "))+int(input("Enter num2: ")))
    elif choice==2:
        print("\nSubtraction of num1-num2:",int(input("Enter num1: "))-int(input("Enter num2: ")))
    elif choice==3:
        print("\nMultplication of num1*num:",int(input("Enter num1: "))*int(input("Enter num2: ")))
    elif choice==4:
        try:
            print("\nDivision of num1/num2:",int(input("Enter num1: "))/int(input("Enter num2: ")))
        except:
            print("\nCant't divide by zero")
    elif choice==5:
        print("\nyou exit")
        break
    else:
        print("\nInvalid Choice")

Choose operation to perform:

1.Addition

2.Subtraction

3.Multiplication

4.Division

5.Exit

Your Choice: 1
Enter num1: 4
Enter num2: 9

Addition of num1 + num2: 13

Your Choice: 2
Enter num1: 6
Enter num2: 2

Subtraction of num1-num2: 4

Your Choice: 3
Enter num1: 7
Enter num2: 0

Multplication of num1*num: 0

Your Choice: 4
Enter num1: 5
Enter num2: 0

Cant't divide by zero

Your Choice: 5

you exit

<h3>2. Write a python program that takes a sentence as input from the user and reverses the words in the sentence. Eg. If the sentence is 'Welcome to AI lab', then the output should be 'lab AI to Welcome'. (Use list and string data structures) [1 pt]

In [4]:
val=input("Enter the sentence: ")
print(val)
string=val.split()
string=list(reversed(string))

print("output: "," ".join(string))

Enter the sentence: Welcome to AI lab
Welcome to AI lab
output:  lab AI to Welcome

<h3>3. Write a python program that reads text from an input file (use your own input text file, it should contain at least 5-6 small sentences) and counts the number of times each alphabet is appearing in it, and displays the frequency of the occurrence of each alphabet. (Use dictionary data-structure to solve it) [2 pts]

In [6]:
import collections
import pprint
file_input = input('File Name: ')
with open(file_input, 'r') as info:
    count = collections.Counter(info.read().upper())
    value = pprint.pformat(count)
print(value)

File Name: sample.txt
Counter({'A': 17,
         ' ': 13,
         'P': 12,
         'E': 10,
         'N': 8,
         'I': 7,
         'R': 6,
         'G': 5,
         'L': 4,
         'O': 3,
         '\n': 3,
         'M': 2,
         'B': 2,
         'S': 2,
         'K': 2,
         'W': 2,
         'T': 1,
         'C': 1,
         'H': 1})

<h3>4. Write a python program that creates a numpy array containing 15 random integers in the range 0 to 100. Then reshape the array into 3x5. Then add 2 to all elements of the array (use broadcasting). [1 pt]

In [16]:
#numpy array containing 15 random integers in the range of 0 to 100
import numpy as np
arr = np.random.randint(0, 100, size = 15)
arr

array([47, 42,  5, 91, 15, 81, 89, 48, 40, 86, 97, 55, 16, 42, 14])

In [17]:
#Reshape the array into 3 x 5
arr1 = np.reshape(arr, (3,5))
arr1

array([[47, 42,  5, 91, 15],
       [81, 89, 48, 40, 86],
       [97, 55, 16, 42, 14]])

In [18]:
#Adding 2 to all elements of the array using broadcasting
arr1 + 2

array([[49, 44,  7, 93, 17],
       [83, 91, 50, 42, 88],
       [99, 57, 18, 44, 16]])

<h3>5. Download the dataset and understand the various attributes of the dataset. Load the csv file of the dataset into a dataframe in Python program. [5pts]
    
    https://github.com/fivethirtyeight/data/blob/master/us-weather-history/KCLT.csv

In [28]:
import pandas as pd
import numpy as np

In [29]:
#loading csv file of the dataset into dataframe 
df=pd.read_csv("KCLT.csv")
df

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2015-6-26,85,70,100,67,88,55,102,1979,1952,1.21,0.11,1.98
361,2015-6-27,82,71,92,67,88,56,103,2012,1954,0.55,0.11,1.86
362,2015-6-28,76,66,85,67,88,53,101,1968,1959,0.00,0.11,1.83
363,2015-6-29,73,59,87,67,88,54,104,1974,2012,0.00,0.11,2.39
364,2015-6-30,83,71,94,67,89,54,104,1962,2012,0.00,0.11,2.75

<h3>a. Create a new column (call it ‘newColumn’), it should have the same values as the column ‘actual_mean_temp’. Print head of dataframe.

In [30]:
df['newColumn'] = df['actual_mean_temp']
df.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation,newColumn
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91,81
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53,85
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50,82
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63,75
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65,72

<h3>b. Remove the new column that you have created above. Print head of dataframe.

In [31]:
del df['newColumn']
df.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65

<h3>c. Print the first 10 rows, then remove the row containing data of ‘2014-7-3’, save this row in a variable of type series (data structure). Print the first 10 rows after removal of the row.

In [32]:
#first 10 rows
df.head(10)

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65
5,2014-7-6,74,61,87,68,89,57,99,1964,1948,0.00,0.10,1.95
6,2014-7-7,79,67,91,68,89,55,100,1972,1954,0.00,0.11,2.37
7,2014-7-8,83,72,94,68,89,58,101,1892,2010,0.00,0.11,1.87
8,2014-7-9,80,71,89,68,89,57,101,1891,1986,0.15,0.12,3.71
9,2014-7-10,78,71,85,68,89,53,101,1961,1926,0.00,0.11,2.45

In [33]:
#row containing data of ‘2014-7-3’
var = df[df.date == '2014-7-3']
var

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.5

In [25]:
#remove the row containing data of ‘2014-7-3’,
indexNames = df[df.date == '2014-7-3'].index
df.drop(indexNames, inplace=True)
df.head(10)

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65
5,2014-7-6,74,61,87,68,89,57,99,1964,1948,0.00,0.10,1.95
6,2014-7-7,79,67,91,68,89,55,100,1972,1954,0.00,0.11,2.37
7,2014-7-8,83,72,94,68,89,58,101,1892,2010,0.00,0.11,1.87
8,2014-7-9,80,71,89,68,89,57,101,1891,1986,0.15,0.12,3.71
9,2014-7-10,78,71,85,68,89,53,101,1961,1926,0.00,0.11,2.45
10,2014-7-11,78,68,87,68,89,55,100,1961,1986,0.00,0.12,3.10

<h3>d. Add the row that you deleted before. Print the first 10 rows again.

In [35]:
df=df.append(var)
df=df.sort_index()
df.head(10)

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65
5,2014-7-6,74,61,87,68,89,57,99,1964,1948,0.00,0.10,1.95
6,2014-7-7,79,67,91,68,89,55,100,1972,1954,0.00,0.11,2.37
7,2014-7-8,83,72,94,68,89,58,101,1892,2010,0.00,0.11,1.87

<h3>e. Update the actual_min_temp in the data row for date ‘2014-7-3’ to any value. Print the updated row.

In [36]:
df.loc[df['date']=='2014-7-3', 'actual_min_temp']=55
df

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53
2,2014-7-3,82,55,93,68,89,56,99,2010,1931,0.14,0.11,2.50
2,2014-7-3,82,55,93,68,89,56,99,2010,1931,0.14,0.11,2.50
2,2014-7-3,82,55,93,68,89,56,99,2010,1931,0.14,0.11,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2015-6-26,85,70,100,67,88,55,102,1979,1952,1.21,0.11,1.98
361,2015-6-27,82,71,92,67,88,56,103,2012,1954,0.55,0.11,1.86
362,2015-6-28,76,66,85,67,88,53,101,1968,1959,0.00,0.11,1.83
363,2015-6-29,73,59,87,67,88,54,104,1974,2012,0.00,0.11,2.39
364,2015-6-30,83,71,94,67,89,54,104,1962,2012,0.00,0.11,2.75